.cookie {
    font-size: 60px;
}
.div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    width: 30em;
}

.retour {
    position: absolute;
    width: 40px;
    margin-left: 25px;
    margin-top: 25px;
   
}


